        <div class="section">
            <div class="container">
                <div id='portfolio'></div>
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="text-center">Portfolio</h1>
                        </div>
                    </div>
                    <div class="row">
                        <% @project.each do |p| %>
                            <div class="col-md-4">
                                <a><%= image_tag p.image.url(:thumb).to_s =%></a>
                                <h3><%= p.title %></h3>
                                <p><%= p.work %>&nbsp;</p>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>