<div class="container">
  <div class="margin_top">
    <div class="padding">
      <h1> Pas huidig project aan </h1>

      <%= render 'form' %>

      <%= link_to 'Back', projects_path %>
    </div>
  </div>
</div>